<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfSample03Host.MyService" behaviorConfiguration="MyServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8082/WCFSample003"/>
          </baseAddresses>
        </host>
        <endpoint address="SayHello" binding="netTcpBinding" contract="WcfSample03Host.IMyService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>