<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfSample04Host.MyService">
        <host>
          <baseAddresses>
            <!-- NamedPipeの場合ポート番号の指定は必要ない。-->
            <add baseAddress="net.pipe://localhost/WCFSample004/MyService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netNamedPipeBinding" contract="WcfSample04Host.IMyService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>