<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfSample07Host.MyService"  behaviorConfiguration="MyServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8087/WCFSample007/MyService"/>
          </baseAddresses>
        </host>
        <endpoint address="" 
                  binding="wsDualHttpBinding" 
                  contract="WcfSample07Host.IMyService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>