<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <!-- NamedPipeの場合ポート番号の指定は必要ない。-->
      <endpoint address="net.pipe://localhost/WCFSample004/MyService"
                binding="netNamedPipeBinding"
                contract="WcfSample04Client.IMyService" />
    </client>
  </system.serviceModel>
</configuration>